.DS_Store
*~
.\#*
*\#
/elpa
/var
/packages/melpa
/session.*
/.cask
/tutorial
network-security.data
/auto-save-list
ac-comphist.dat
ede-projects.el
/eshell
/private
ido.last
.mc-lists.el
recentf
/dotemacs.d/literate_init.el
/dotemacs.d/elpa
/dotemacs.d/quelpa
mc-lists.el
projectile-bookmarks.eld
recentf
/backup/
dotemacs.d/.tutor/
dotemacs.d/var/
dotemacs.d/bookmarks
dotemacs.d/eshell/
dotemacs.d/package-quickstart.el
dotemacs.d/temp.org
dotemacs.d/tramp
dotemacs.d/transient/
dotemacs.d/tutorial/
emacs_everywhere.dict
the-one-theme/
/dotemacs.d/literate_init.el
install/*
/config/**
